<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/head::head">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            自动化运维平台<span style="font-size: 10px;"></span>
        </div>
        <ul class="layui-nav layui-layout-left">

        </ul>
        <div th:replace="common/userHead::userHead"></div>
    </div>
    <div th:replace="common/indexMenus::indexMenus"></div>
</div>

</body>
</html>
